.carousel-container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.text {
  position: absolute;
  top: 20%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 70px;
  border-radius: 8px;
}

.text h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.text p {
  font-size: 16px;
}

@media (max-width: 900px) {
  .text h2 {
    font-size: 20px;
  }
  .text p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .text h2 {
    font-size: 18px;
  }
  .text p {
    font-size: 12px;
  }

  .text {
    max-width: 320px;
    padding: 10px;
  }

  .slide img {
    height: 260px;
  }
}

@media (max-width: 400px) {
  .text h2 {
    font-size: 16px;
  }
  .text p {
    font-size: 10px;
  }
}
