* {
  p {
    margin-bottom: 0 !important;
  }
}

.clientinfo-container {
  background: #f1f1f1;

  .content {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 29px;
    padding: 10px 30px;
    flex-wrap: wrap;
  }

  .email,
  .phone {
    font-size: 14px;
    a {
      display: flex;
      gap: 7px;
      opacity: 0.7;
      align-items: center;
      white-space: nowrap;
      &:hover {
        color: #3aadda;
      }

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .social {
    display: flex;
    gap: 12px;
    opacity: 0.7;

    a {
      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.auth {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .content {
    justify-content: center;
    gap: 15px;
  }

  .email,
  .phone {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 10px 20px;
    gap: 10px;
    justify-content: center;
  }

  .email,
  .phone {
    font-size: 12px;
  }

  .social {
    gap: 10px;

    a svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 480px) {
  .content {
    padding: 10px 15px;
    gap: 15px !important;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .email {
    margin-right: 8px;
  }

  .email,
  .phone {
    font-size: 12px;
    max-width: 50%;
    text-align: center;
  }

  .social {
    gap: 8px;

    a svg {
      width: 14px;
      height: 14px;
    }
  }
}
