.navbar-container {
  width: 100%;
  height: 70px;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.3s ease-in-out;

  .content {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    padding: 5px 0;
  }

  &__navigation {
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      margin-top: 10px;

      li {
        list-style-type: none;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        padding: 10px 15px;

        &:hover {
          color: #3aadda;
        }
      }

      .active {
        color: #3aadda; /* Цвет активной ссылки */
        font-weight: bold; /* Можно добавить жирный шрифт для активации */
      }
    }
  }
}

.navbar-sticky {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media (max-width: 1024px) {
  .navbar-container {
    .content {
      padding: 0 20px;
    }

    &__navigation {
      ul {
        gap: 20px;

        li {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-container {
    height: 60px;
    padding: 0 15px;

    img {
      width: 90px;
      height: auto;
    }

    &__navigation {
      ul {
        gap: 15px;

        li {
          padding: 8px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .navbar-container {
    height: 60px;
    padding: 0 10px;

    img {
      width: 70px;
      height: auto;
    }

    &__navigation {
      ul {
        gap: 10px;

        li {
          padding: 6px;
          font-size: 12px;
        }
      }
    }
  }
}
