.rotatecarts-container {
  perspective: 1000px;
  padding-bottom: 70px;

  @media (max-width: 480px) {
    padding-left: 10px;
  }

  .content {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 480px) {
      flex-wrap: nowrap !important; // Запрет переноса строк на мобильных
      overflow-x: scroll; // Горизонтальная прокрутка
      -webkit-overflow-scrolling: touch; // Плавная прокрутка на iOS
      gap: 15px; // Уменьшение отступов между карточками для мобильных
      justify-content: flex-start;
    }
  }

  .cart {
    width: 318px;
    height: 245px;
    position: relative;
    flex-shrink: 0; // Предотвращает сжатие карточек на мобильных

    .cart-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
      cursor: pointer;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    .front,
    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      overflow: hidden;
    }

    .front {
      background: black;
    }

    .back {
      background-color: #3aafdb;
      transform: rotateY(180deg);
      color: white;
      padding: 0 10px;

      &__border {
        padding: 70px 10px;
        border: 3px solid white;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(40%);
    }

    p {
      color: white;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.5em;
      position: absolute;
      bottom: 105px;
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .content {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
