.container {
  .bread-background {
    position: relative;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    &__title {
      position: relative;
      top: -70px;
      display: flex;
      align-items: center;
      color: white;
      padding: 0 40px;

      a {
        display: flex;
        align-items: center;

        svg {
          width: 18px;
          height: 18px;
          margin-right: 7px;
          color: white;
        }
      }

      h1 {
        padding-right: 10px;
        line-height: 1.5em;
        font-size: 24px;
        color: white;
        transition: color 0.2s ease;

        &:hover {
          color: #3aadda;
        }
      }

      span {
        padding: 5px;
      }
    }
  }

  .overlay {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    gap: 40px;

    .productsCategories-container {
      padding: 20px;

      h1 {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }

      svg {
        cursor: pointer;
      }

      ul {
        padding-top: 6px;
        transition: opacity 0.3s ease-in-out;
        opacity: 1;

        li {
          padding: 10px 0px 10px 15px;
          list-style-type: none;
          transition: color 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: #3aadda;
          }
        }
      }

      &.hide-ul {
        ul {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    .products-container {
      width: 100%;
      flex: 1;
      padding: 20px;

      h1 {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 15px;
        line-height: 1.5;
      }

      &__box {
        display: flex;
        gap: 26px;
        width: 100%;
        flex-wrap: wrap;
        &_cart {
          width: 198px;
          height: 279px;
          border: 1px solid #cbcbcb;
          text-align: center;
          border-radius: 4px;
          cursor: pointer;
          overflow: hidden;

          display: flex;
          flex-direction: column;
          gap: 10px;

          justify-content: space-between;

          transition: all 0.2s ease-in-out;

          & img {
            height: 198px;
            width: 198px;
          }

          p {
            padding: 10px;
            color: #707476;

            &:hover {
              color: #3aadda;
            }
          }

          &:hover {
            border: 1px solid #3aadda;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

            transform: translateY(-3px);
          }
        }
      }

      &__total-count {
        text-align: end;
        opacity: 0.7;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .overlay {
    display: flex;
    flex-direction: column;
    gap: 20px !important;
  }

  .ul-block {
    display: flex;
    font-size: 14px;
    align-items: center;
    overflow-y: auto;
    gap: 12px;
    ul {
      display: flex;
    }
  }

  .products-container__total-count {
    margin-top: 13px;
  }

  .container .overlay .products-container {
    &__box {
      flex-wrap: nowrap;
      overflow-x: scroll;
      gap: 10px;
      padding: 10px;

      &_cart {
        min-width: 263px;
        height: auto !important;
        img {
          width: 100%;
          height: 227px;
          object-fit: cover;
        }
      }

      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
      }
    }
  }

  .minus-block {
    svg {
      display: none;
    }
  }

  .products-container {
    padding: 0 !important;
  }
}
