.preview {
  margin-top: 12px;
  width: 220px;
  .avatar {
    height: 140px;
    width: 160px;
    border: 1px solid;
    border-radius: 120px;
  }
}

.hr {
  position: relative;
  top: -60px;
  width: 170px;
  opacity: 0.3;
  color: gray;
}
