.whychooseus-container {
  padding-top: 70px;

  .whychooseus-content {
    margin: 0 auto;
    font-size: 25px;
    line-height: 37.5px;
    color: #0000008a;
    width: 90%; // Ограничиваем ширину контента
    max-width: 600px; // Устанавливаем максимальную ширину
    text-align: center; // Центрируем текст
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    h1 {
      font-weight: 600;
      font-size: 32px;
      word-wrap: break-word; // Разрешаем перенос слов
    }

    &__hr {
      width: 200px;
      height: 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      hr {
        width: 100%;
        border: 2px solid #3aadda;
      }
    }

    p {
      font-size: 16px;
      color: #0000008a;
      line-height: 24px;
      text-align: center; // Центрируем текст
      overflow-wrap: break-word; // Перенос слов
    }
  }
}

// Медиа-запросы для адаптивности

@media (max-width: 900px) {
  .whychooseus-container {
    padding-top: 50px;

    .whychooseus-content {
      font-size: 22px;
      line-height: 34px;
      max-width: 90%;

      h1 {
        font-size: 28px;
      }

      &__hr {
        width: 180px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 600px) {
  .whychooseus-container {
    padding-top: 30px;

    .whychooseus-content {
      font-size: 18px;
      line-height: 30px;

      h1 {
        font-size: 24px;
        text-align: center;
      }

      &__hr {
        width: 150px;
      }

      p {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}
