* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: white;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f1624;
}

.container {
  max-width: 1448px;
  height: 100%;
  margin: 0 auto;
  background-color: #0f1624;
  padding: 52px 0px;
  margin: 0 auto;
}
