.footer-container {
  background-color: #212121;
  padding: 0px 30px;
  padding-top: 30px;

  .content {
    color: white;

    .overlay {
      display: flex;
      justify-content: center;
      gap: 100px;
      border-bottom: 1px solid #3b3b3b;
      padding-bottom: 30px;

      &__products,
      &__contacts {
        max-width: 270px;
      }

      &__products_title,
      &__contacts_title {
        padding-bottom: 10px;
        border-bottom: 1px solid #3b3b3b;
        margin-bottom: 10px;

        h1 {
          line-height: 1.5em;
          font-size: 17px;
        }
      }

      &__products_list ul li,
      &__contacts_list ul li {
        padding: 10px 7px;
        border-bottom: 1px dashed #3b3b3b;
        display: flex;
        align-items: center;

        &:hover {
          color: #3aadda;
        }

        svg {
          margin-right: 7px;
        }
      }
    }

    .afterAll {
      padding: 30px 10px;
      text-align: center;
    }
  }

  .overlay__contacts_list {
    ul {
      a {
        li {
          color: white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content {
    .overlay {
      flex-direction: column;
      gap: 30px;
    }
  }
}
